* {
    box-sizing: border-box;
    margin: 0;
    /* width: 100%; */
}

body {
    font-family: nunito, sans-serif;
    font-weight: 800;
    min-height: 100%;
    width: 100%;
}
#root{
    width: 100%;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    padding: 20px 70px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 4px rgba(0, 0, 0, 2),0 0 5px white;
}
header p{
    cursor: pointer;
}
.countries-container {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
}

.country-card {
    width: 100%;
    max-width: 250px;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 2),0 0 5px white;
    /* padding:0.1px 0.1px; */
    padding-bottom: 20px;
    transition: all 0.2s ease;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 8px;
}

.card-img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    /* text-align: center; */
}

.card-text,
.card-title {
    padding-inline: 15px;
    margin-bottom: 5px;
}

.card-title {
    font-size: 24px;
}

main {
    height: calc(100% + 43px);
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    position: relative;
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

input {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 2),0 0 5px white;
    /* position: relative; */
}

input::placeholder {
    background: linear-gradient(blue, red);
    background-clip: text;
    color: transparent;
}

select {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 2),0 0 5px white;
}
.fa-magnifying-glass{
    position:absolute;
    top: 60px;
    left: 10px;
    color: black;

}

.parent{
    min-height:calc(100vh - 72.8px);
    padding: 30px 0;
}
.country-details{
    margin: 20px;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
}
.country-details img{
    width: 100%;
    max-width: 30%;
}
.border-countries{
    /* margin-top: 100px; */
    padding: 20px 0;
}
.border-countries a{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 2),0 0 5px white;
}
.border-countries p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.back-arrow{
    background-color:blue;
    margin-top: 40px;
    margin-left: 0;
    padding: 10px 30px;
    padding-left: 30px;
    color: black;
    position: relative;
    display: block;
    left: 20px;
    cursor: pointer;
}
.fa-arrow-left{
    position: absolute;
    top: 15px;
    left: 1.5px;
    padding-left: 5px;
}
@media(max-width:600px) {
    .country-details{
        margin: 15px;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
        align-items: start;
        justify-content: center;
    }
    .country-details img{
        width: 100%;
        max-width: 50%;
    }
    .countries-container {
        flex-direction: column;
    }
    .border-countries p{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .input-container{
        flex-direction: column;
        row-gap: 20px;
    }
}
.dark{
    background-color: rgb(28, 24, 24);
    color: white;
}
